.heroSection {
  height: 80vh;
  background: linear-gradient(to right, #4facfe, #96a6c0);
  color: white;
  text-align: center;
  padding: 50px;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.heroSection button {
  padding: 10px 20px; 
  background-color: #fff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.hero-image-container{
  display: none;
  border: solid green;
  min-width: 100%;
  
}
.image img{
width: 10rem;
float: right;
}
