.contactSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.MessageInputs{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    margin-bottom: 1rem;
}
.formAndMapContainer{
    display: flex;
    gap: 8%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 1rem;
}
@media screen and (max-width:604px){
    .formAndMapContainer{
        display: block;
        margin: 1rem;
    }
    form{
        width: 100%;
    }
}
.map{
    width: 50%;
    margin-left: 2rem;
}
form{
    width: 50%;
    /* background-color: antiquewhite; */
    border: .1px solid grey;
    padding: 1rem;
    border-radius: 8px;
}
@media screen and (max-width:604px){
   form{
    width: 100%;
    margin-bottom: 1rem;
   } 
}
form textarea{
    height: 30vh;
}
form input{
    padding: 1rem;
   
}